{% extends 'base.html' %} {% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/educationstyle.css') }}" />
<link rel="stylesheet" href="{{ url_for('static',filename='stylesheets/pyramidstyle.css') }}">
<title>Book</title>
{% endblock %} {% block body %}
<!-- TODO -->
<div class="main">
  {% include 'side_bar.html' %}
  <div id="5" class="article">Ключевые слова</div>
  <div>
    \begin{itemize}
    \item производящая функция.
    \item обыкновенная производящая функция
    \item экспоненциальная производящая функция.
    \item производящая функция одной переменной
    \item производящая функция двух переменных
    \item производящая функция многих переменных
    \item коэффициент производящей функции
    \item коэффициент производящей функции одной переменной
    \item коэффициент производящей функции двух переменных
    \item коэффициент производящей функции многих переменных
    \item коэффициент k-ой степени производящей функции
    \item коэффициент k-ой степени производящей функции одной переменной
    \item коэффициент k-ой степени производящей функции двух переменных
    \item коэффициент k-ой степени производящей функции многих переменных
    \item композита
    \item функциональной уравнение
    \item композиция производящих функций
    \item композиция производящих функций одной переменной
    \item композиция производящих функций двух переменных
    \item композиция производящих функций многих переменных

    \item взаимная производящая функция
    \item взаимная производящая функция одной переменной
    \item взаимная производящая функция двух переменных
    \item взаимная производящая функция многих переменных

    \item обратная производящая функция
    \item обратная производящая функция одной переменной
    \item обратная производящая функция двух переменных
    \item обратная производящая функция многих переменных
    \item пирамида
    \item тензор



    \end{itemize}

  </div>
</div>
{% endblock %}