main {
    flex-direction: column;
    justify-content: flex-start;
}

.content-wrapper {
    display: flex;
    width: 100%;
}

.media {
    display: flex;
    flex-grow: 1;
}

.userinfo {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}

.profile-image {
    border-radius: 5px;
}

.username {
    flex-grow: 1;
    font-size: 3rem;
    margin-bottom: 12px;
}

.email {
    flex-grow: 1;
}

.edit_profile {
    width: auto;
    padding: 0 10px;
    gap: 5px;
}