{% extends 'base.html' %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='stylesheets/accountstyle.css') }}"
/>
<title>User {{ user.username.capitalize() }}</title>
{% endblock %} {% block header %} {% include 'header_search.html' %} {% endblock
%} {% block body %}
<main>
  <div class="content-wrapper">
    <div class="media">
      <div class="userimage">
        <img
          src="{{ imagesrc }}"
          alt=""
          class="profile-image"
          width="128"
          height="128"
        />
      </div>
      <div class="userinfo">
        <div class="username">{{ user.username.capitalize() }}</div>
        <div class="email">{{ user.email.capitalize() }}</div>
      </div>
    </div>

    {% if current_user.id == user.id %}
    <a
      href="{{ url_for('account.update_profile', id=user.id) }}"
      class="link edit_profile"
    >
      <span class="material-icons">mode</span>
      {{ _('Edit profile') }}
    </a>
    {% endif %}
  </div>
</main>
{% endblock %}
