<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:url" content="https://oenp.tusur.ru/{{route}}" />
    <meta
      name="description"
      content="Online Encyclopedia of Number Pyramids."
    />
    <meta
      name="keywords"
      content="
      производящая функция,
    обыкновенная производящая функция,
    экспоненциальная производящая функция,
    производящая функция одной переменной,
    производящая функция двух переменных,
    производящая функция многих переменных,
    коэффициент производящей функции,
    коэффициент производящей функции одной переменной,
    коэффициент производящей функции двух переменных,
    коэффициент производящей функции многих переменных,
    коэффициент k-ой степени производящей функции,
    коэффициент k-ой степени производящей функции одной переменной,
    коэффициент k-ой степени производящей функции двух переменных,
    коэффициент k-ой степени производящей функции многих переменных,
    функциональное уравнение,
    композиция производящих функций,
    композиция производящих функций одной переменной,
    композиция производящих функций двух переменных,
    композиция производящих функций многих переменных,
    взаимная производящая функция,
    взаимная производящая функция одной переменной,
    взаимная производящая функция двух переменных,
    взаимная производящая функция многих переменных,
    обратная производящая функция,
    обратная производящая функция одной переменной,
    обратная производящая функция двух переменных,
    обратная производящая функция многих переменных,
    пирамида,
    тензор"
    />

    <link
      preconnect
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      preconnect
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='stylesheets/tooltip.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='stylesheets/basestyle.css') }}"
    />
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        renderMathInElement(document.body, {
          // customised options
          // • auto-render specific keys, e.g.:
          delimiters: [
            { left: "$$", right: "$$", display: true },
            { left: "$", right: "$", display: false },
            { left: "\\(", right: "\\)", display: false },
            { left: "\\[", right: "\\]", display: true },
          ],
          // • rendering keys, e.g.:
          throwOnError: false,
        });
      });
    </script>
    {% block head %} {% endblock %} {% with messages =
    get_flashed_messages(with_categories=true) %} {% if messages %}
    <div class="flashes">
      {% for category, message in messages %}
      <div class="alert {{ category }}" onmouseover="prolongtimeout()">
        <span>{{ message }}</span>
        <span class="material-icons closebtn" onclick="close_alert(event)"
          >close</span
        >
      </div>
      {% endfor %}
    </div>
    <script src="/static/js/notifications.js"></script>
    {% endif %} {% endwith %}
    <script>
      MathJax = {
        tex: {
          inlineMath: [
            ["$", "$"],
            ["\\(", "\\)"],
          ],
        },
        svg: {
          fontCache: "global",
        },
        startup: {
          ready: () => {
            MathJax.startup.defaultReady();
            MathJax.startup.promise.then(() => {
              console.log("MathJax initial typesetting complete");
            });
          },
        },
        tex2jax: {
          preview: "none",
        },
      };
    </script>
  </head>

  <body onscroll="gotop()">
    <header>
      <div class="header_logo">
        <img src="../static/src/pyramid.svg" alt="pyramid" />
        <span class="header_name">
          <a href="/">Online encyclopedia of Number Pyramids</a>
        </span>
      </div>
      {% block header %} {% endblock %}
    </header>
    <div class="site-wrapper">{% block body %} {% endblock %}</div>

    <a href="#" class="go-top">
      <span class="material-icons-outlined go-arrow top-arrow"
        >expand_less</span
      >
    </a>

    <footer class="footer">
      <ul class="footer_menu">
        <li><a href="/" title="{{ _('Home') }}"> {{ _('Home') }}</a></li>
        <li>
          <a href="/pyramid/list" title="{{ _('Pyramid list') }}"
            >{{ _('Pyramid list') }}</a
          >
        </li>
        <li>
          <a href="/book" title="{{ _('Application') }}">
            {{ _('Application') }}
          </a>
        </li>
        <li><a href="/about" title="{{ _('About') }}">{{ _('About') }}</a></li>
        <li id="choose-language-item">
          {% if g.choose_language_form %}

          <form method="GET" action="/choose_language">
            <fieldset style="border: none">
              <label for="choose-language">{{ _('Interface language') }}</label>
              {{ g.choose_language_form.language(style=" background: #1f1f1f;
              border: 1px solid rgba(60, 66, 87, 0.16); border-radius: 5px;
              padding: 5px; margin-left: 10px; justify-content: center;
              align-items: center; text-align: center; font-size: 16px;
              font-family: Jura; color: #cacaca; ",
              onchange="this.form.submit()") }}
            </fieldset>
          </form>

          {% endif %}
        </li>
      </ul>
      <div class="footer_info">
        © 2021-{{ now.year }} {{ _('Tomsk State University of Control Systems
        and Radioelectronics') }}
      </div>
    </footer>
  </body>

  {% block afterscripts %}{% endblock %}
  <script src="/static/js/topdown-navigation.js"></script>
</html>
