<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/basestyle.css') }}"> {% block head %} {% endblock %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class=flashes>
            {% for category, message in messages %}
                <div class="alert {{ category }}" onmouseover="prolongtimeout()">
                    <span>{{ message }}</span>
                    <span class="material-icons closebtn" onclick="close_alert(event)">close</span>
                </div>
            {% endfor %}
            </div>
            <script src="/static/js/notifications.js"></script>
        {% endif %}
    {% endwith %}
</head>

<body>
    <header>
        <span class="header_name">
            <a href="/">Online encyclopedia of Number Pyramids</a>
        </span> {% block header %} {% endblock %}

        <div class="btns">
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('account', username=current_user.username) }}" class="account">
                    <img src="{{ url_for('static', filename='profile_pictures/' + current_user.profile_imagefile)}}"
                    alt="" width="40" height="40"> 
                </a>
                <a href="{{ url_for('logout')}}" class="link logout">Log out</a>
            {% else %}
                <a href="{{ url_for('login')}}" class="link login">Log in</a>
                <a href="{{ url_for('signup')}}" class="link signup">Sign up</a>
            {% endif %}
        </div>
        
    </header>
    <div class="site-wrapper">
        

        {% block body %} {% endblock %}

    </div>
    <footer>Noname team</footer>
</body>

</html>