{% extends 'base.html' %} {% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/educationstyle.css') }}" />
<title>Book</title>
{% endblock %} {% block body %}
<div class="main">
  {% include 'side_bar.html' %}

  <div class="page">
    <div id="1" class="article"> 1. Зачем нужна еще одна энциклопедия по математике
    </div>
    <div class="paragraph">
      Базы математических знаний являются развитием математических справочников и энциклопедий и становятся важным
      инструментом в математических исследованиях и в исследованиях в смежных областях. Примерами таких баз знаний
      являются онлайн энциклопедия целых последовательностей\cite{Sloane}, сервер комбинаторных объектов\cite{Cos} и др.
    </div>
    <div class="paragraph">
      Расммотрим одну из самых известных таких баз знаний -- онлайн энциклопедия целых последовательностей
      (www.oeis.org), которая насчитывает свыше трехсот тысяч последовательностей. Ежедневно десятки тысяч математиков,
      инженеров и студентов используют эту энциклопедию в своей работе при проведении исследований и учебных занятий.
      Каждая статья этой энциклопедии содержит\cite{Sloane}:
    </div>
    <ol id="education">
      <li>Числовую последовательность;</li>
      <li>Комментарии, в которых описаны математические объекты, связанные с этой последовательностью;</li>
      <li>Формулы, задающие эту последовательность (производящая функция, явная или рекуррентная формула, уравнение;
      </li>
      <li>Список литературы связанный с этой последовательностью;</li>
      <li>Реализацию формул или алгоритмов вычисления этой последоватльности в различных системах программирования
        (Maxima, Mathematica, Maple, и др.;</li>
      <li>Среду ссылок на интернет ресурсы;</li>
      <li>Примеры использования;</li>
      <li>Связь с другими последовательностями;</li>
      <li>Автора этой последовательности и авторов отдельных элементов этой последовательности.</li>
    </ol>
    <div class="paragraph">
      Основной функцией этой базы знаний является поиск и редактирование числовых последовательностей, которые могут
      быть двух типов: линейная последовательность и треугольник. Треугольник также представлен линейной
      последовательностью. Данная энциклопедия имеет ряд существенных недостатков:
    </div>
    <ol id="education">
      <li>Невозможно представить тензоры, имеющие 3 и более индексов;</li>
      <li>Устаревший интерфейс, формулы записываются в текстовом режиме;</li>
      <li>Поиск реализован только по элементам числовой последовательности;</li>
    </ol>
    <div class="paragraph">
      Описанные недостатки не умаляют значения этой базы знаний для математических исследований и практики использования
      числовых последовательностей и алгоритмов. Однако развитие математического аппарата композиции производящих
      функций многих переменных \cite{KruBivariate} позволяет получать явные выражения коэффициентов производящих
      функций многих переменных и найти подходы и алгоритмы для реализации этой операции в системах компьютерной алгебры
      и первым шагом в этом направлении является создание соотвествующей базы знаний для тензоров $T(n,m,k)$ описываемых
      произведениями биномиальных коэффициентов, являющимися коэффициентами $k$-степени производящей функции двух
      переменных.
    </div>
    <div class="paragraph">
      Предлагаемая энциклопедия является дополнением oeis.org в части представления производящих функций двух переменных
      и их коэффициентов $k$-ой степени.
    </div>
    <div id="2_art" class="article"> 2. Зачем нужны производящие функции</div>
    <div class="paragraph">
      Производящие функции математический аппарат обеспечивающий решение дискретных задач с помощью математического
      анализа. Производящие функции широко используются в комбинаторике, при анализе вычислительной сложности
      алгоритмов, в теории вероятности и математической статитики, в решении классов функциональных уравнений, при
      решении дифференциальных уравненений, при вычислении интегралов и т.д.
    </div>
    <div id="3" class="article"> 3. Особенности данной энциклопедии</div>
    <div class="paragraph">
      Производящих функций может огромное количество. Так в онлан энциклопедии целых последовательность записано свыше
      300 тыс. производящих функций. В данной энциклопедии насчитывается 1500 производящих функций двух переменных и их
      коэффициэнты k-ой степени.
      Здесь представлено только производящие функции, коэффициэнты k-ой степени которых предствлены биномиальными
      коэффициентами. Можно выдвинуть гипотезу, что число производящих функций двух переменных выражения которых явно
      задано и коэффициенты их k-ой степени выражены биномиальными коэффициентами ограничено. Пример из энциклопедии
      типичной производящей функции и ее коэффициентов
      <div class="latex">
        $$U_{39}(x,y)=
        {1-\sqrt{1-4\,x-4\,x\,y}}\over{x\,\left(2+2\,y\right)}$$
      </div>

      Разложение производящей функции
      $$\begin{array}{llllll}1&0&0&0&0&0\\1&1&0&0&0&0\\2&4&2&0&0&0\\5&15&15&5&0&0\\14&56&84&56&14&0\\42&210&420&420&210&42\\\end{array}$$
    </div>
    <div id="4" class="article">4. Какие задачи решает данная энциклопедия</div>
    <div>
      <div class="paragraph">
        Развитие методологии решения задач, основанных на применении производящих функций многих переменных,
        представленной в работах[3-12] позволило существенно расширить области их применения. Важным элементом стала
        база
        знаний для математических обектов, описываемых коэффициентами $k$-степени производящей функции двух переменных.
        Можно выделить слудующие задачи решение которх можно осуществить с помощью данной базы знаний:</div>
      <br>
      <ol id="education">
        <li>нахождение явной формулы коэффициентов композиции производящих функций и их степеней
          $$
          F(x,y,\ldots,G(x,y,\ldots,z),\ldots,z)^k
          $$</li>
        <li>нахождение явных формул для взаимной производящей функции и их степеней
          $$
          \frac{1}{G(x,y,\ldots,z)^k}
          $$</li>
        <li>нахождение явных формул для производящей функции вида
          $$
          G(x,y,\ldots,z)^{\alpha}
          , \alpha\in R
          $$</li>
        <li>нахождение явных формул для обратной производящей функции и их степеней;
          $$
          G(x,y,\ldots,z)=\frac{y}{F\left(x,y\cdot G(x,y,\ldots,z),\ldots,z\right)}
          $$</li>
        <li>нахождение явных формул для реверсивной производящей функции и их степеней;\\
          $$
          G(x,y,\ldots,z)=F(x,y\,G(x,y,\ldots,z),\ldots,z)
          $$</li>
        <li>нахождение явных формул для реверсивной производящей функции и их степеней;\\
          $$
          G(x,y,\ldots,z)=F(x,y\,G(x,y,\ldots,z),\ldots,z)
          $$</li>
        <li>нахождение явных формул для обратной реверсивной производящей функции двух переменных и их степеней;
          $$
          G(x,y,\ldots,z)=F\left(x,\frac{y}{G(x,y,\ldots,z)},\ldots,z\right)
          $$</li>
        <li>нахождение явных выражений логарифмических производных
          $$
          \log(G(x,y,\ldots,z))
          $$</li>
      </ol>
    </div>
    <div id="5" class="article">5. Ключевые слова</div>
    <div>
      <ul>
        <li>производящая функция</li>
        <li>обыкновенная производящая функция</li>
        <li>экспоненциальная производящая функция</li>
        <li>производящая функция одной переменной</li>
        <li>производящая функция двух переменных</li>
        <li>производящая функция многих переменных</li>
        <li>коэффициент производящей функции</li>
        <li>коэффициент производящей функции одной переменной</li>
        <li>коэффициент производящей функции двух переменных</li>
        <li>коэффициент производящей функции многих переменных</li>
        <li>коэффициент k-ой степени производящей функции</li>
        <li>коэффициент k-ой степени производящей функции одной переменной</li>
        <li>коэффициент k-ой степени производящей функции двух переменных</li>
        <li>коэффициент k-ой степени производящей функции многих переменных</li>
        <li>композита</li>
        <li>функциональной уравнение</li>
        <li>композиция производящих функций</li>
        <li>композиция производящих функций одной переменной</li>
        <li>композиция производящих функций двух переменных</li>
        <li>композиция производящих функций многих переменных</li>
        <li>взаимная производящая функция</li>
        <li>взаимная производящая функция одной переменной</li>
        <li>взаимная производящая функция двух переменных</li>
        <li>взаимная производящая функция многих переменных</li>
        <li>обратная производящая функция</li>
        <li>обратная производящая функция одной переменной</li>
        <li>обратная производящая функция двух переменных</li>
        <li>обратная производящая функция многих переменных</li>
        <li>пирамида</li>
        <li>тензор</li>
      </ul>
    </div>
    <div id="6" class="article">6. Обозначения</div>
    <div class="designations">
      $F(x)=\sum_{n\geqslant 0} f(n)x^n$ - обыкновенная производящая функция (производящая функция)
      <br>
      $F(x)=\sum_{n\geqslant 0} f(n)\frac{x^n}{n!}$ - экспоненциальная производящая функция.
      <br>
      $F(n,k)$ - коэффициент k-ой степени производящей функции $F(x), F(0)\neq 0$<br>

      $F^{\Delta}(n,k)$ - композита производящей функции $F(x), F(0)=0$<br>

      $N$- множество натуральных чисел, включая ноль.<br>
      $Z$ - множество целых чисел<br>

      $R$ - множество действительных чисел.<br>

      $[x^n]F(x)$ - операция извлечения коэффициента производящей функции $F(x)$ при переменной $x^n$.<br>

      $F(x,y)=\sum_{n\geqslant 0}\sum_{m\geqslant 0} f(n,m)x^n\,x^m$ - обыкновенная производящая функция (производящая
      функция) двух переменных<br>


      $[x^n\,y^m]F(x,y)$ - операция извлечения коэффициента производящей функции $F(x,y)$ при переменных $x^n$ и
      $y^m$.<br>

      $F(n,m,k)$ - коэффициент k-ой степени производящей функции $F(x,y), F(0,0)\neq 0$<br>


      $F(x,yб\ldots,z)=\sum_{n\geqslant 0}\sum_{m\geqslant 0}\ldots\sum_{i \geqslant 0} f(n,m)x^n\,y^m\,\ldots z^i)$ -
      обыкновенная производящая функция (производящая функция) многих переменных переменных<br>

      $F^{\Delta}(n,m,k)$ - композита производящей функции $F(x,y), F(0,0)=0$<br>

      ${n\choose k}$ - биномиальный коэффициент $C_n^k$<br>

      $fib(n)$ - числа Фибоначчи<br>
    </div>
    <div id="7" class="article">7. Получение явных выражений композиции производящих функций одной переменной</div>
    <div>Пусть дана производящая функция $G(x)=\sum_{n>0} g(n)x^n$ и ее композита\cite{kru}.
      $$
      G^{\Delta}(n,k)=[x^n]G(x)^k.
      $$
      $G^{\Delta}(0,0)=1$.
      Тогда для коэффициентов композиции производящих функций $A(x)=F(G(x))$ будет справедлива формула
      \begin{equation}\label{Lcompos1}
      a(n)=\sum_{k=0}^n G^{\Delta}(n,k)\,f(k).
      \end{equation}

      Рассмотрим примеры

      <div id="7_1" class="article">7.1 Числа Фибоначчи</div>

      Найдем явное выражение для чисел Фибоначчи.
      $$
      A(x)=\frac{x}{1-x-x^2}
      $$
      Представим производящую функцию композицией
      $$
      A(x)=F(G(x)).
      $$
      где $F(x)=\frac{1}{1-x}$, $G(x)=x+x^2$, $f(n)=1$,
      $G^{\Delta}(n,k)={k\choose n-k}$

      $$
      a(n)=\sum_{k=0}^n {k\choose n-k}
      $$
      <div id="7_2" class="article">7.2 Коэффициенты разложения $\sinh{\left(\frac{x}{1-x}\right)}$</div>

      Рассмотрим получение явного выражения для коэффициентов разложения $A(x)=\sinh{\left(\frac{x}{1-x}\right)}$.
      Известно, что
      $$
      \sinh(x)=\sum_{n>0} \frac{1-(-1)^n}{2}\frac{x^n}{n!}
      $$
      Также известно, что
      $$
      \left(\frac{x}{1-x}\right)^k=\sum_{n\geqslant k} Tp0002(n-k,k)x^n.
      $$
      где (См. энциклопедию)
      $$
      Tp0002(n,k)={n+k-1 \choose n}.
      $$
      Тогда
      $$
      a(n)=\sum_{k=0}^n {n-1 \choose n-k} \frac{1-(-1)^k}{2\,(k!)}
      $$

      <div id="7_3" class="article">7.3 Коэффициенты разложения $e^{\sin(x)}$</div>

      <div id="7_4" class="article">7.4 Получение коэффициентов функции ${1-2x}\over{1-3\,x+x^2}$</div>
      <div>
        %Up0002(x)/(1-x*Up0020(x))
        Пусть дана производящая функция
        $${1-2,x}\over{1-3\,x+x^2}$$
        Перепишем ее в вдиде
        $$
        \frac{x}{1-x}\frac{1}{1-\frac{x}{(1-x)^2}}+1
        $$
        Рассмотри композицию функций $A(x)=\frac{x}{(1-x)^2}$ и $\frac{1}{1-x}$
        Композита функции $A(x)$ имеет выражение
        $$
        A^{\Delta}(n,k)={n+k-1\choose n-k}
        $$
        Тогда
        $$
        [x^n]\frac{1}{1-A(x)}=\sum_{k=0}^n {n+k-1\choose n-k}
        $$

        $$
        \frac{x}{1-x}\frac{1}{1-A(x)}=\frac{x}{1-x}\left(1+\frac{x}{(1-x)^2}x+\frac{x^2}{(1-x)^4}x^2+\ldots+\frac{x^n}{(1-x)^{2n}}x^n+\ldots\right)=
        $$
        $$
        =x\,\left(\frac{1}{1-x}+\frac{x}{(1-x)^3}x+\frac{x^2}{(1-x)^5}x^2+\ldots+\frac{x^n}{(1-x)^{2n+1}}x^n+\ldots\right)=
        $$
        ряд записанный в скобках имеет нечетные степени $2n+1$. Откуда формула суммирования будет иметь вид.
        $$\sum_{k=0}^{n}{n+k\choose{n-k}}$$
        С учетом сдвига на $x$ и плюс 1 (см. исходную формулу получим искомое выражение).

        $$[x^n]{1-2,x\over{1-3\,x+x^2}}=\sum_{k=0}^{n}{n+k-1\choose{2k}}$$</div>

    </div>
  </div>
  {% endblock %}