<link rel="stylesheet" href="{{ url_for('static',filename='stylesheets/header_search.css') }}"/>

<div class="search-div">
    <form method="post" class="search-form">
        <div class="search-wrapper">
            <div class="input-wrapper">
                <!-- <label for="pyramidinput" class="questionlabel"> -->
                    <input 
                        type="text" 
                        name="pyramidinput" 
                        class="question" 
                        id="pyramidinput" 
                        placeholder="Pyramid expression"
                        required autocomplete="off" />
                <!-- </label> -->
                <button type="submit" class="questionbtn"> <span class="material-icons">search</span> </button>
            </div>
        </div>
    </form>
</div>