{% extends 'base.html' %} {% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/homestyle.css') }}">
<title>Home</title>
{% endblock %} {% block header %}
{% include 'header_search.html' %}
{% endblock %} {% block body %}
<main>
    <div class="pyramids">
        {% for pyramid in pyramids %}
            <div class="pyramid_brief">
                <div class="pyramid_title textlinks">
                    <a href="{{ url_for('pyramid', snid=pyramid.sequence_number) }}">Pyramid {{ pyramid.sequence_number }}</a>   
                </div>

                <div class="data">
                    <span class="unit-description"><i>Preview</i></span>
                    <a href="{{ url_for('pyramid', snid=pyramid.sequence_number) }}">{{ pyramid.get_gf_latex() }}</a>
                </div>   

                <div class="author">
                    <span class="unit-description"><i>Author</i></span>
                    <div class="author-credits textlinks">
                        <a href="{{ url_for('account', username=pyramid.author.username) }}" class="authorlink">
                            <img
                            src="{{ url_for('static', filename='profile_pictures/' + pyramid.author.profile_imagefile|safe )}}"
                            alt="{{ pyramid.author.username.capitalize() }}"
                            title="{{ pyramid.author.username.capitalize() }}"
                            width="40" height="40"
                            class="profile_img">
                       </a>
                        <a href="{{ url_for('account', username=pyramid.author.username) }}">{{ pyramid.author.username.capitalize() }} </a>
                    </div>
                </div>
            </div>
            
        {% endfor %}
    </div>
</main>
{% endblock %}