{% extends 'base.html' %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='stylesheets/not_foundstyle.css') }}"
/>
<title>{{ user_input }}</title>
{% endblock %} {% block header %} {% include 'header_search.html' %} {% endblock
%} {% block body %}
<main>
  <div class="notfound">
    <span
      >{{ _('Your search') }} -<b>
        {% if user_input|length > 25 %}{{ user_input[0:25] }}...{% else %}{{
        user_input }}{% endif %} </b
      >- {{ _('did not match anything') }}.</span
    >
    <span
      >{{ _('Try going back') }} <a href="/">{{ _('home') }}</a> {{ _('and perform another search') }}.</span
    >
  </div>
</main>
{% endblock %}
