{% extends 'base.html' %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='stylesheets/not_foundstyle.css') }}"
/>
<title>Page not found</title>
{% endblock %} {% block header %} {% include 'header_search.html' %} {% endblock
%} {% block body %}
<main>
  <div class="notfound">
    <span
      >{{ _('Sorry, there\'s no such page. You can try going') }}
      <a href="/">{{ _('home') }}</a> {{ _('and explore pyramids.') }}</span
    >
  </div>
</main>
{% endblock %}
