{% extends 'base.html' %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='stylesheets/forms__style.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static',filename='stylesheets/pyramidstyle.css') }}"
/>
<title>Pyramid {{ pyramid.sequence_number }}</title>
{% endblock %} {% block header %} {% include 'header_search.html' %} {% include
'MathJax.html' %} {% endblock %} {% block body %}
<main>
  {% if current_user.is_authenticated and current_user.moderator %}
  <div class="btns pyramid_moderator_control">
    <a
      href="{{ url_for('pyramid.edit_pyramid', snid=pyramid.sequence_number) }}"
      class="link edit_pyramid"
    >
      {{ _('Edit pyramid') }}
    </a>
    <a onclick="show_modal('#deletion_confirmation')" class="link danger-btn">
      {{ _('Delete pyramid') }}
    </a>
  </div>

  {% endif %}

  <div class="content-wrapper">
    <!-- Generating function -->
    <div class="pyramid_navigation">
      <div class="textlinks nav">
        {% if
        PyramidModel.query.filter_by(sequence_number=pyramid.sequence_number-1).count()
        > 0 %}
        <a
          href="{{ url_for('pyramid.pyramid', snid=pyramid.sequence_number-1) }}"
          >{{ _('Pyramid') }} #{{ pyramid.sequence_number - 1 }}</a
        >
        {% endif %}
      </div>
      <span class="pnum">
        {{ _('Pyramid') }} #{{ pyramid.sequence_number }}
      </span>
      <div class="textlinks nav">
        {% if
        PyramidModel.query.filter_by(sequence_number=pyramid.sequence_number+1).count()
        > 0 %}
        <a
          href="{{ url_for('pyramid.pyramid', snid=pyramid.sequence_number+1) }}"
          >{{ _('Pyramid') }} #{{ pyramid.sequence_number + 1 }}</a
        >
        {% endif %}
      </div>
    </div>
    <span class="title"> {{ _('Generating function') }} </span>
    <div class="latex">{{ pyramid.gf_latex }}</div>
  </div>

  <div class="content-wrapper">
    <!-- Explicit Formula -->
    <span class="title"> {{ _('Explicit formula') }} </span>
    <div class="latex">{{ pyramid.ef_latex }}</div>
  </div>

  <div class="content-wrapper">
    {% set n = 7 %} {% set m = 7 %} {% set k = 1 %} {% set data =
    pyramid.get_data_by_ef(n, m, k) %}
    <table>
      <caption>
        {{ _('Data table') }}
      </caption>
      <tbody>
        {% for i in range(n) %}
        <tr>
          {% for j in range(m) %}
          <td>{{ data[(i*n) + j] }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="content-wrapper">
    <div class="title">{{ _('Related') }}</div>
    <div class="textlinks">
      {% for related_pyramid in pyramid.relations.all() %}
      <a
        href="{{ url_for('pyramid.pyramid', snid=related_pyramid.sequence_number) }}"
      >
        {{ _('Pyramid') }} #{{ related_pyramid.sequence_number }}: {{
        pyramid.get_relation(related_pyramid.id)['tag'] }}
      </a>
      <br />
      {% endfor %}
    </div>
  </div>

  <div class="content-wrapper">
    <div class="title">{{ _('Export') }}</div>
    <div class="exportbtn-wrapper">
      <button
        class="exportbtn"
        id="maximabtn"
        onclick="show_modal('#maximacode')"
      >
        {{ _('Export as Maxima') }}
      </button>
      <!-- <button class="exportbtn" id="mathematicabtn" onclick="show_modal('#mathematicacode')">Export as Mathematica</button> -->
      <button
        class="exportbtn"
        id="latexbtn"
        onclick="show_modal('#latexcode')"
      >
        {{ _('Export as LaTeX') }}
      </button>

      <!-- Modals -->

      <div class="modalwindow" id="latexcode" onclick="close_modal(event)">
        <!-- LaTeX -->
        <div class="modal-wrapper">
          <div class="modal-header">
            <div class="title">{{ _('Export as LaTeX') }}</div>
            <div class="closebtn">
              <span class="material-icons">close</span>
            </div>
          </div>
          <textarea class="exportcode" readonly>
{{ pyramid.gf_latex.replace("$","") }}&#13;&#10;{{ pyramid.ef_latex.replace("$","") }}</textarea
          >
          <div class="exportcopybtn-wrapper">
            <button class="copybtn" onclick="copy()">{{ _('Copy') }}</button>
          </div>
        </div>
      </div>

      <div class="modalwindow" id="maximacode" onclick="close_modal(event)">
        <!-- LaTeX -->
        <div class="modal-wrapper">
          <div class="modal-header">
            <div class="title">{{ _('Export as Maxima') }}</div>
            <div class="closebtn">
              <span class="material-icons">close</span>
            </div>
          </div>
          <textarea class="exportcode" readonly>
{{ pyramid.gf_maxima }}&#13;&#10;{{ pyramid.ef_maxima }}</textarea
          >
          <div class="exportcopybtn-wrapper">
            <button class="copybtn" onclick="copy()">{{ _('Copy') }}</button>
          </div>
        </div>
      </div>

      <div
        class="modalwindow"
        id="deletion_confirmation"
        onclick="close_modal(event)"
      >
        <!-- Confirm deletion -->
        <div class="modal-wrapper">
          <div class="modal-header">
            <div class="title">{{ _('Confirm deletion') }}</div>
            <div class="closebtn">
              <span class="material-icons">close</span>
            </div>
          </div>
          <div class="modal-body">
            <span
              >{{ _('Are you sure, you want to delete Pyramid') }} #{{
              pyramid.sequence_number }}?</span
            >
          </div>

          <form method="post" style="display: flex; flex-direction: column">
            {{ deleteform.hidden_tag() }}
            <div class="btns align-flex-end">
              <!-- <button class="link danger-btn" type="submit">Delete</button> -->
              <a class="link cancelbtn" id="cancel">{{ _('Cancel') }}</a>
              {{ deleteform.submit(class="sumbitbtn groupelement-input
              danger-btn") }}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %} {% block afterscripts %}
<script src="/static/js/pyramid/export.js"></script>
<script src="/static/js/pyramid/deletion_confirmation.js"></script>
{% endblock %}
