{% extends 'base.html' %} {% block head %}
<link rel="stylesheet" href="{{ url_for('static',filename='stylesheets/pyramidstyle.css') }}">
<title>Pyramid {{ pyramid.sequence_number }} </title>
{% endblock %} {% block header %}
{% include 'header_search.html' %}
{% endblock %} {% block body %}
<main>
    {% if current_user.is_authenticated and current_user.moderator  %}
        <a href="{{ url_for('pyramid.edit_pyramid', snid=pyramid.sequence_number) }}" class="link edit_pyramid"> Edit pyramid </a>
    {% endif %}

    <div class="content-wrapper"> <!-- Generating function -->
        <div class="pyramid_navigation">
            <div class="textlinks nav">
                {% if PyramidModel.query.filter_by(sequence_number=pyramid.sequence_number-1).count() > 0 %}
                    <a href="{{ url_for('pyramid.pyramid', snid=pyramid.sequence_number-1) }}">Pyramid #{{ pyramid.sequence_number - 1 }}</a>
                {% endif %}
            </div>            
            <span class="pnum"> Pyramid #{{ pyramid.sequence_number }} </span>
            <div class="textlinks nav">
                {% if PyramidModel.query.filter_by(sequence_number=pyramid.sequence_number+1).count() > 0 %}
                <a href="{{ url_for('pyramid.pyramid', snid=pyramid.sequence_number+1) }}">Pyramid #{{ pyramid.sequence_number + 1 }}</a>
                {% endif %}
            </div>
            
        </div>        
        <span class="title"> Generating function </span>
        <div class="latex">
            {{ pyramid.gf_latex }}
        </div>
    </div>

    <div class="content-wrapper"> <!-- Explicit Formula -->
        <span class="title"> Explicit formula </span>
        <div class="latex">
            {{ pyramid.ef_latex }}
        </div>

    </div>

    <div class="content-wrapper">
        {% set n = 7 %}
        {% set m = 7 %}
        {% set k = 1 %}
        {% set data = pyramid.get_data_by_ef(n, m, k) %}
        <table>
            <caption>Data table</caption>
            <tbody>
                {% for i in range(n) %}
                    <tr>
                        {% for j in range(m) %}
                            <td> {{ data[(i*n) + j] }} </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="content-wrapper">
        <div class="title">Related</div>
        <div class="textlinks">
            {% for related_pyramid in pyramid.relations.all() %} 
                <a href="{{ url_for('pyramid.pyramid', snid=related_pyramid.sequence_number) }}">
                    Pyramid #{{ related_pyramid.sequence_number }}: {{ pyramid.get_relation(related_pyramid.id)['tag'] }} 
                </a> <br>
            {% endfor %}
        </div>
    </div>

    <div class="content-wrapper">
        <div class="title">Export</div>
        <div class="exportbtn-wrapper">
            <!-- <button class="exportbtn" id="maximabtn" onclick="show_modal('#maximacode')">Export as Maxima</button>
            <button class="exportbtn" id="mathematicabtn" onclick="show_modal('#mathematicacode')">Export as Mathematica</button> -->
            <button class="exportbtn" id="latexbtn" onclick="show_modal('#latexcode')">Export as LaTEX</button>

            

            <div class="modalwindow" id="latexcode" onclick="close_modal(event)"> <!-- LaTEX -->
                <div class="exportcode-wrapper">
                    <div class="exportcode-header">
                        <div class="title">Export as LaTEX</div> 
                        <div class="closebtn"><span class="material-icons">close</span></div>
                    </div>
                    <textarea class="exportcode" readonly>{{ pyramid.gf_latex.replace("$","") }}&#13;&#10;{{ pyramid.ef_latex.replace("$","") }}</textarea>
                    <div class="exportcopybtn-wrapper"> <button class="copybtn" onclick="copy()">Copy</button> </div>
                </div>
            </div>


        </div>
    </div>
</main>
{% endblock %}

{% block afterscripts %}
    <script src="/static/js/export.js"></script>
{% endblock %}