{% extends 'base.html' %} {% block head %}
<title>{{q}} - search results</title>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/katex@0.15.3/dist/katex.min.css"
  integrity="sha384-KiWOvVjnN8qwAZbuQyWDIbfCLFhLXNETzBQjA/92pIowpC0d2O3nppDGQVgwd2nB"
  crossorigin="anonymous"
/>
<script
  defer
  src="https://cdn.jsdelivr.net/npm/katex@0.15.3/dist/katex.min.js"
  integrity="sha384-0fdwu/T/EQMsQlrHCCHoH10pkPLlKA1jL5dFyUOvB3lfeT2540/2g6YgSi2BL14p"
  crossorigin="anonymous"
></script>
<script
  defer
  src="https://cdn.jsdelivr.net/npm/katex@0.15.3/dist/contrib/auto-render.min.js"
  integrity="sha384-+XBljXPPiv+OzfbB3cVmLHf4hdUFHlWNZN5spNQ7rmHTXpd7WvJum6fIACpNNfIR"
  crossorigin="anonymous"
></script>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='stylesheets/tooltip.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='stylesheets/pyramid_liststyle.css') }}"
/>

{% endblock %} {% block header %} {% include 'header_search.html' %} {% endblock
%} {% block body %}
<main>
  <div class="results" id="results"></div>

  <div class="nav_wrapper"></div>
</main>
{% endblock %} {% block afterscripts %}
<script src="/static/js/pagination.js"></script>
<script>
  window.onload = () => {
      init_variables({{exact|tojson}}, {{related|tojson}});
      display_results();
      display_nav();
  };
</script>
{% endblock %}
