<link
  rel="stylesheet"
  href="{{ url_for('static', filename='stylesheets/side_bar.css') }}"
/>
<div class="side_bar">
  <strong>The methodology of use for the encyclopedia </strong>
  <ol id="menu">
    <li>
      <a href="#1" class="education"
        >Why do we need another encyclopedia on mathematics</a
      >
    </li>
    <li>
      <a href="#2_art" class="education">Why do we need generating functions</a>
    </li>
    <li><a href="#3" class="education"> Features of this encyclopedia</a></li>
    <li>
      <a href="#4" class="education">What tasks does this encyclopedia solve</a>
    </li>
    <li><a href="#5" class="education">Keywords</a></li>
    <li><a href="#6" class="education">Designations</a></li>
    <li>
      <a href="#7" class="education">
        Obtaining explicit expressions of the composition of generating
        functions of one variable</a
      >
      <ol>
        <li><a href="#7_1" class="education">Fibonacci Numbers</a></li>
        <li>
          <a href="#7_2" class="education"
            >Decomposition coefficients $\sinh{\left(\frac{x}{1-x}\right)}$</a
          >
        </li>
        <li>
          <a href="#7_3" class="education"
            >Decomposition coefficients $e^{\sin(x)}$</a
          >
        </li>
        <li>
          <a href="#7_4" class="education"
            >Getting the coefficients of the function
            ${1-2\,x}\over{1-3\,x+x^2}$</a
          >
        </li>
        <li>
          <a href="#7_5" class="education">Identity for harmonic numbers</a>
        </li>
      </ol>
    </li>
    <li>
      <a href="#8" class="education"
        >Obtaining coefficients of degrees of generating functions of one
        variable</a
      >
      <ol>
        <li>
          <a href="#8_1" class="education"
            >Coefficients of the $k$th degree of the sum of generating
            functions</a
          >
        </li>
        <li>
          <a href="#8_2" class="education"
            >Coefficients of the $k$th degree of the product of generating
            functions</a
          >
        </li>
        <li>
          <a href="#8_3" class="education"
            >Coefficients of the $k$th degree of the composition of generating
            functions</a
          >
        </li>
        <li>
          <a href="#8_4" class="education"
            >Coefficients of the $k$th degree of the mutual generating
            function</a
          >
        </li>
        <li>
          <a href="#8_5" class="education"
            >Finding explicit expressions for decomposing functions of the form
            $G(x)^{-\alpha}$, $\alpha\in R$</a
          >
        </li>
        <li>
          <a href="#8_6" class="education"
            >Coefficients of the kth degree of the generating function of the
            solution of the functional equation $A(x)=G(x\,A(x)^m$, $m\in N$</a
          >
        </li>
        <li>
          <a href="#8_7" class="education"
            >Coefficients of the kth degree of the inverse generating
            function</a
          >
        </li>
        <li>
          <a href="#8_8" class="education"
            >Coefficients of the kth degree of the generating function of the
            solution of the functional equation
            $A(x)=G\left(\frac{x}{A(x)}\right)$</a
          >
        </li>
        <li>
          <a href="#8_9" class="education"
            >Generating function for the diagonal $G(n,n)$</a
          >
        </li>
        <li>
          <a href="#8_10" class="education"
            >Decomposition of the composition $F(x)=\log(A(x))$</a
          >
        </li>
      </ol>
    </li>
    <li>
      <a href="#9" class="education"
        >Obtaining explicit expressions of the composition of generating
        functions of two variables</a
      >
    </li>
    <li>
      <a href="#10" class="education">Finding mutual generating functions</a>
      <ol>
        <li>
          <a href="#10_1" class="education"
            >Finding explicit expressions for decomposing functions of the form
            $G(x,y)^{\alpha}$</a
          >
        </li>
      </ol>
    </li>
    <li>
      <a href="#11" class="education"
        >Finding the coefficients of inverse generating functions</a
      >
    </li>
    <li>
      <a href="#12" class="education"
        >Finding the generating function for the explicit expression of
        coefficients</a
      >
    </li>
    <li>
      <a href="#13" class="education"
        >Finding the composition of logarithmic functions and their
        derivatives</a
      >
    </li>
    <li>
      <a href="#14" class="education">Examples</a>
      <ol>
        <li><a href="#14_1" class="education">Fina Triangle</a></li>
        <li>
          <a href="#14_2" class="education"
            >Euler triangle (Euler numbers of the first genus)</a
          >
        </li>
        <li>
          <a href="#14_3" class="education"
            >Generating function for second-order Euler numbers</a
          >
        </li>
      </ol>
    </li>
    <li>
      <a href="#15" class="education"
        >Finding explicit expressions for decomposing the composition of
        generating functions of many variables</a
      >
    </li>
    <li>
      <a href="#16" class="education"
        >Finding explicit expressions for decomposing functions of the form
        $G(x,y,\ldots,z)^{\alpha}$</a
      >
    </li>
    <li>
      <a href="#17" class="education">How the encyclopedia was created</a>
    </li>
    <li><a href="#18" class="education">References</a></li>
  </ol>
  <script src="../static/js/sidebar.js"></script>
</div>
