<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/side_bar.css') }}" />
<div class="side_bar">
  <strong>Методика использования для энциклопедии</strong>
  <ol id="menu">
    <li><a href="#1" class="education"> Зачем нужна еще одна энциклопедия по математике</a></li>
    <li><a href="#2_art" class="education">Зачем нужны производящие функции</a></li>
    <li><a href="#3" class="education"> Особенности данной энциклопедии</a></li>
    <li><a href="#4" class="education">Какие задачи решает данная энциклопедия</a></li>
    <li><a href="#5" class="education">Ключевые слова</a></li>
    <li><a href="#6" class="education">Обозначения</a></li>
    <li><a href="#7" class="education"> Получение явных выражений композиции производящих функций одной
        переменной</a>
      <ol>
        <li><a href="#7_1" class="education">Числа Фибоначчи</a></li>
        <li><a href="#7_2" class="education">Коэффициенты разложения $\sinh{\left(\frac{x}{1-x}\right)}$</a></li>
        <li><a href="#7_3" class="education">Коэффициенты разложения $e^{\sin(x)}$</a></li>
        <li><a href="#7_4" class="education">Получение коэффициентов функции ${1-2\,x}\over{1-3\,x+x^2}$</a></li>
        <li><a href="#7_5" class="education">Тождество для гармнических чисел</a></li>
      </ol>
    </li>
    <li><a href="#8" class="education">Получение коэффициентов степеней производящих функций одной
        переменной</a>
      <ol>
        <li><a href="#8_1" class="education">Коэффициенты $k$-ой степени суммы производящих функций</a></li>
        <li><a href="#8_2" class="education">Коэффициенты $k$-ой степени произведения производящих функций</a></li>
        <li><a href="#8_3" class="education">Коэффициенты $k$-ой степени композиции производящих функций</a></li>
        <li><a href="#8_4" class="education">Коэффициенты $k$-ой степени взаимной производящей функции</a></li>
        <li><a href="#8_5" class="education">Нахождение явных выражений для разложения функций вида $G(x)^{-\alpha}$,
            $\alpha\in R$</a></li>
        <li><a href="#8_6" class="education">Коэффициенты $k$-ой степени производящей функции решения функционального
            уравнения $A(x)=G(x\,A(x)^m$, $m\in N$</a></li>
        <li><a href="#8_7" class="education">Коэффициенты $k$-ой степени обратной производящей функции</a></li>
        <li><a href="#8_8" class="education">Коэффициенты k-ой степени производящей функции решения функционального
            уравнения $A(x)=G\left(\frac{x}{A(x)}\right)$</a></li>
        <li><a href="#8_9" class="education">Производящая функция для диагонали $G(n,n)$</a></li>
        <li><a href="#8_10" class="education">Разложение композиции $F(x)=\log(A(x))$</a></li>
      </ol>
    </li>
    <li><a href="#9" class="education">Получение явных выражений композиции производящих функций двух переменных</a>
    </li>
    <li><a href="#10" class="education">Нахождение взаимных производящих функций</a>
      <ol>
        <li><a href="#10_1" class="education">Нахождение явных выражений для разложения функций вида
            $G(x,y)^{\alpha}$</a></li>
      </ol>
    </li>
    <li><a href="#11" class="education">Нахождение коэффициентов обратных производящих функций</a>
    </li>
    <li><a href="#12" class="education">Нахождение производящей функции для явного выражения коэффициентов
    </li>
    <li><a href="#13" class="education">Нахождение композици логарифмических функций и их производных</a>
    </li>
    <li><a href="#14" class="education">Примеры</a>
      <ol>
        <li><a href="#14_1" class="education">Треугольник Фина</a></li>
        <li><a href="#14_2" class="education">Треугольник Эйлера (числа Эйлера первого рода)</a></li>
        <li><a href="#14_3" class="education">Производящая функция для чисел Эйлера второго порядка</a></li>
      </ol>
    </li>
    <li><a href="#15" class="education">Нахождение явных выражений для разоложения композиции производящих функций
        многих переменных
    </li>
    <li><a href="#16" class="education">Нахождение явных выражений для разложения функций вида
        $G(x,y,\ldots,z)^{\alpha}$</a>
    </li>
    <li><a href="#17" class="education">Как создавалась энциклопедия</a>
    </li>
    <li><a href="#18" class="education">References</a>
    </li>
  </ol>
  <script src="../static/js/sidebar.js"></script>
</div>