@import url("https://fonts.googleapis.com/css2?family=Jura:wght@500&display=swap");
html {
  font-family: "Jura", sans-serif;
  height: 100%;
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100%;
  background-color: rgb(250, 250, 250);
}

.site-wrapper {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  min-height: 100vh;
}

header {
  position: relative;
  display: flex;
  justify-content: space-between;
  /* height: 10vh; */
  width: 100%;

  z-index: 10;
  margin: 0 auto;
  padding: 2vh 5vw;

  box-sizing: border-box;
  align-items: center;
  /* align-items: baseline; */
  gap: 50px;

  font-family: "Jura", sans-serif;
  font-size: 20px;
  background-color: rgb(250, 250, 250);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

header > span {
  color: rgb(140, 193, 193);
  padding: 0;
}

.header_name {
  font-weight: 500;
  font-size: 20px;
}

.header_name > a {
  font-family: "Jura", sans-serif;
  text-decoration: none;
  color: #002a55;
  margin: 0;
  letter-spacing: 1px;
  position: relative;
  display: inline-block;
  width: 255px;
}

main {
  min-height: 80vh;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5vh 0;
}

footer {
  position: static;
  display: flex;
  bottom: 0;
  left: 0;
  overflow: hidden;
  color: #cacaca;
  cursor: default;
  background: #333;
  z-index: 1;
  line-height: 50px;
  padding: 0 20px;
  height: 10vh;
  z-index: 15;
}

/* Notifications */

.flashes {
  position: fixed;
  bottom: 1vh;
  right: 1vw;

  /* align the content to the right */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: hsl(0, 0%, 20%);

  /* hide the overflow to conceal the message when translated to the right of the container */
  overflow-x: hidden;

  /* padding to avoid cropping the box-shadow on the message */
  padding: 0.25rem;
}

.alert {
  display: grid;
  grid-gap: 0.2rem;
  grid-template-columns: 1fr auto;
  padding: 20px;
  margin: 0;

  /* style the div as a rounded rectangle with a border on the left segment */
  border-radius: 5px;
  box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.1), 0 2px 3px hsla(0, 0%, 0%, 0.1);
}

.success {
  background-color: rgba(0, 255, 0, 0.15);
  border: 1px solid rgba(0, 100, 0, 0.5);
}

.danger {
  border: 1px solid rgba(171, 145, 68, 0.5);
  background-color: rgba(255, 255, 0, 0.15) !important;
}

.info {
  border: 1px solid rgba(0, 0, 255, 0.5);
  background-color: rgba(0, 118, 239, 0.15);
}

.alert > .closebtn {
  background: none;
  border: none;
  width: 20px;
  height: 20px;
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: center;
  transform: translate(50%, -50%);
  color: inherit;
  font-size: 16px;
  user-select: none;
  cursor: pointer;
}

/* Login Signup header btns */

.btns {
  display: inline-flex;
  justify-content: space-between;
  align-items: self-end;
  gap: 12px;
}

.link {
  display: flex;
  position: relative;
  padding: 0 10px;
  width: auto;
  height: 40px;
  inline-size: max-content;

  border-radius: 3px;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;

  cursor: pointer;
  user-select: none;

  box-shadow: inset 0 1px 0 0 hsla(0, 0%, 100%, 0.7);
  color: white;
  background-color: #2390ff;
  border: none;
  /* border-color: #002A55; */
}

.link:hover {
  background-color: #005fc0;
}

.link:active {
  background-color: #002a55;
}

.account {
  width: 40px;
  height: 40px;
}

.account > img {
  border-radius: 3px;
}

/* textlinks */

.textlinks > a {
  text-decoration: none;
  color: #2390ff;
}

.textlinks > a:hover {
  color: #005fc0;
}

/* profile_img */
.profile_img {
  /* border: solid black 1px; */
  border-radius: 3px;
}

/* Go top */

.go-top {
  position: fixed;
  right: 1vw;
  bottom: 9vh;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  background-color: white;
  border: solid 2px #333;
  border-radius: 50%;
  text-decoration: none;

  opacity: 0;
  transition: opacity 0.2s ease-in;
}

.go-top > span {
  color: #333;
  display: inline-block;
}

.danger-btn {
  background-color: #b04632 !important;
}

.danger-btn:hover {
  background-color: #933b27 !important;
}

.no-gap {
  gap: 0 !important;
}

.align-flex-end {
  align-self: flex-end;
}

.shrinkable {
  -ms-flex-negative: 1;
  flex-shrink: 1;
  /* max-width: 150px; */
  text-align: center;
}

.growable {
  -webkit-box-flex: 1 !important;
  -ms-flex-positive: 1 !important;
  flex-grow: 1 !important;
}

@keyframes appear {
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 600px) {
  header {
    font-size: 20px;
  }
  main {
    min-height: 60vh;
  }
}

/* Navigation blocks */

.nav_wrapper {
  align-self: flex-end;
  margin: 20px;
  font-size: 1.45em;
  display: flex;
  align-items: center;
  gap: 20px;
}

.page_nav {
  display: flex;
  gap: 15px;
  align-items: center;
}

.page_nav-element {
  display: flex;
  width: 50px;
  height: 50px;

  border: 1px solid rgba(60, 66, 87, 0.16);
  justify-content: center;
  align-items: center;
  text-align: center;

  border-radius: 5px;
}

.page_nav-element:hover {
  border-color: rgba(60, 66, 87, 0.46);
}

.pagenum {
  font-family: "Jura", sans-serif;
  outline: none;
  font-size: 1em;
  background-color: white;
  width: 100%;
  cursor: pointer;
  transition: all 150ms ease;
  padding-right: 1em;

  -moz-appearance: none;
}

/* loader */

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #fff;
  border-right: 3px solid transparent;
  animation: rotation 1s linear infinite;
}

section.loader_section {
  min-width: 200px;
  width: 33.33%;
  height: 200px;
  padding: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ccc;
  cursor: pointer;
  transition: 0.3s linear;
}

.loading {
  margin: 0;
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  background: #263238;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
