@import url('https://fonts.googleapis.com/css2?family=Jura:wght@500&display=swap');
html {
    font-family: 'Jura', sans-serif;
    height: 100%;
    /* overflow-x: hidden; */
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100%;
    background-color: white;
}

.site-wrapper {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

header {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    z-index: 10;
    margin: 0 auto;
    padding: 0 5vw;
    box-sizing: border-box;
    align-items: center;
    gap: 50px;

    font-family: 'Jura', sans-serif;
    font-size: 20px;
    background-color: rgb(250, 250, 250);
    border-bottom: 1px solid rgba(0, 0, 0, .15);
}

header>span {
    color: rgb(140, 193, 193);
    padding: 0;
}

.header_name {
    font-weight: 500;
    font-size: 20px;
}

.header_name>a {
    font-family: 'Jura', sans-serif;
    text-decoration: none;
    color: #002A55;
    margin: 0;
    letter-spacing: 1px;
    position: relative;
    display: inline-block;
    width: 255px;
}

main {
    min-height: 80vh;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5vh 0;
}

footer {
    position: static;
    display: flex;
    bottom: 0;
    left: 0;
    overflow: hidden;
    color: #cacaca;
    cursor: default;
    background: #333;
    z-index: 1;
    line-height: 50px;
    padding: 0 20px;
    height: 10vh;
    z-index: 15;
}


/* Question */

.search-form {
    display: flex;
    width: 100%;
    flex-grow: 1;
}

.search-wrapper {
    margin: auto 0;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.input-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background: rgba(0, 0, 0, 0.05);
    padding: 25px;
    border-radius: 5px;
    box-sizing: border-box;
}

.question {
    width: 100%;
    height: 100%;
    /* padding: 10px 0px; */
    /* margin-top: 20px; */
    padding: 0 10px;
    border: none;
    background-color: transparent;
    outline: none;

    font-size: 48px;
    color: #333;
    font-family: 'Jura', sans-serif;
    
    z-index: 20;
    transition: padding-top 0.2s ease, margin-top 0.2s ease;

}

.questionlabel {
    position: relative;
    background-color: transparent;
    box-sizing: border-box;
    color: #333;
    flex-grow: 1;
    z-index: 1;
    cursor: text;
    user-select: none;
}

.questionlabel>span {
    position: absolute;
    color: #8F8F8F;
    top: 0;
    left: 10px;
    font-size: 2.5vw;
    -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease, bottom 0.2s ease, width 0.2s ease;
    transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease, bottom 0.2s ease, width 0.2s ease;
}

.questionlabel>.underline {
    width: calc(2.5vw * 10);
    bottom: 0;
    border-bottom: 1px solid red;
}

.question:focus,
.question:valid {
    padding-top: 0.75vw;
    color: #333;
}

.question:focus~.spanholder,
.question:valid~.spanholder {
    color: #333;
    top: -0.75vw;
}

.question:focus~.underline,
.question:valid~.underline {
    border-color: red;
    bottom: calc(-0.75vw);
}

.questionlabel:focus-within>.spanholder,
.question:focus+.spanholder,
.question:valid+.spanholder {
    font-size: 1.25vw;
}

.questionlabel:focus-within>.underline,
.question:focus~.underline,
.question:valid~.underline {
    width: calc(100% - 10px);
}

.question:valid~.underline {
    border-bottom-color: green;
}

.questionbtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 420;
}

.questionbtn>span {
    font-size: 36px;
    color: #8F8F8F;
}

.questionbtn:hover > span {
    color: #333;
}


/* Notifications */

.flashes {
    position: fixed;
    bottom: 0.5rem;
    right: 1rem;
    /* align the content to the rigth */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: hsl(0, 0%, 20%);
    /* hide the overflow to conceal the message when translated to the right of the container */
    overflow-x: hidden;
    /* padding to avoid cropping the box-shadow on the message */
    padding: 0.25rem;
}

.flashes>.alert {
    display: grid;
    grid-gap: 0.2rem;
    grid-template-columns: 1fr auto;
    padding: 20px;
    margin: 0;
    /* style the div as a rounded rectangle with a border on the left segment */
    border-radius: 5px;
    box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.1), 0 2px 3px hsla(0, 0%, 0%, 0.1);
}

.flashes>.success {
    background: rgba(0, 255, 0, .15);
    border: 1px solid rgba(0, 100, 0, .5);
}

.flashes>.danger {
    border: 1px solid rgba(171, 145, 68, .5);
    background: rgba(255, 255, 0, .15);
}

.flashes>.info {
    border: 1px solid rgba(0, 0, 255, .5);
    background: rgba(0, 118, 239, .15);
}

.flashes>.alert>.closebtn {
    background: none;
    border: none;
    width: 20px;
    height: 20px;
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
    transform: translate(50%, -50%);
    color: inherit;
    font-size: 16px;
    user-select: none;
    cursor: pointer;
}


/* Login Signup header btns */

.btns {
    display: inline-flex;
    justify-content: space-between;
    gap: 12px;
}

.link {
    display: flex;
    position: relative;
    border-radius: 3px;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    width: 80px;
    height: 40px;
    box-shadow: inset 0 1px 0 0 hsla(0, 0%, 100%, 0.7);
    color: white;
    background-color: #2390ff;
    border-color: #002A55;
}

.link:hover {
    background-color: #0076ef;
}

.link:active {
    background-color: #002A55;
}

.account>img {
    border-radius: 3px;
}

@keyframes appear {
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 600px) {
    header {
        font-size: 20px;
    }
    main {
        min-height: 60vh;
    }
}