/* main */

main {
    flex-direction: column;
}

/* form */

.form {
    display: flex; 

    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;

    border-radius: 4px;
    box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px; 
}


.update-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: unset;
    -ms-flex-align: unset;
    align-items: unset;

    width: 75%;
}

.groups {
    padding: 50px 50px;
    /* height: calc(70vh*0.8); */
    /* width: calc(25vw*0.8); */
    display: flex;

    flex-direction: column;
    justify-content: space-between;

    border: none;

    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    width: auto;
}

/* form-group */

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 5px 0;
    height: auto;
    gap: 10px;
}

.title {
    display: flex;
    align-items: center;
    font-size: 32px;
    cursor: default;

    margin-bottom: 20px;
}


:is(.login-form, .signup-form) > .groups {
    width: calc(25vw * 0.8);
}

/* Group element */

.groupelement-input {
    font-size: 16px;
    line-height: 28px;
    width: 100%;
    padding: 0 16px;
    box-sizing: border-box;
    min-height: 40px;
    border: unset;
    border-radius: 4px;
    outline-color: #002A55;
    background-color: white;
    box-shadow: rgba(60, 66, 87, 0.16) 0px 0px 0px 1px;
}

.groupelement-label {
    font-size: 18px;
    line-height: 28px;
}

.groupelement-input:focus,
.groupelement-input:hover {
    background-color: rgba(51, 51, 51, 0.06);
}

/* Remember me */

.remember {
    flex-direction: row;
    justify-content: left;
    align-items: center;

    cursor: pointer;
}

.remember_me-label {
    font-size: 18px;
    user-select: none;
    margin-left: 10px;

    cursor: pointer;
}

.remember_me-input {
    cursor: pointer;
}

/* Submit button */
.sumbitbtn {
  background-color: #2390ff;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, 
                rgba(60, 66, 87, 0.08) 0px 2px 5px 0px;
    font-family: 'Jura', sans-serif;
    color: white;
    cursor: pointer;
    
    width: auto;
    font-weight: 100;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    color: white;
}

.sumbitbtn:hover,
.sumbitbtn:focus {
  background-color: #0076ef;
}

.sumbitbtn:active {
  background-color: #002A55;
}

.form-submit {
    margin-top: 30px;
    height: 40px;
    
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;

    justify-content: flex-start;
    gap: 30px;
}

.cancelbtn {
    font-weight: 100;
    padding: 0 16px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    /* width: 130px; */
    /* flex-grow: 1; */
    border: 1px solid #0076ef;
    background: transparent;
    color: #0076ef;
}

.cancelbtn:hover {
    background: rgba(0, 118, 239, 0.1);
}

/* invalid */

.invalid {
    box-shadow: rgba(255, 0, 0, 1) 0px 0px 0px 1px, 
}

.invalid-feedback {
    font-size: 14px;
    color:rgba(255, 0, 0, 1)
}

/* Already/Dont have an acc */

.already {
    margin-top: 10px;
    font-size: 18px;
}

.signlink {
    text-decoration: none;
    color: #0076ef;
}