
/* Search form */

.search-div {
    display: flex;
    height: 50px;
    flex-grow: 1;
}

.input-wrapper {
    height: 50px;
    padding: 5px;
    flex-wrap: nowrap;
}

.spanholder, .underline, .question {
    font-size: 1.5vw !important;
}

.questionbtn>span {
    font-size: 1.75vw;
}

.question:focus,
.question:valid {
    padding-top: 0;
}
