main {
    display: flex;
    flex-grow: 1;

    flex-direction: column;
    align-items: center;
}

.UploadPyr {
    margin-left: auto;
}

.pyramids {
    display: flex;
    margin-top: 40px;
    min-width: 50%;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
}

.pyramid_brief {
    padding: 20px;
    background-color: rgb(250, 250, 250);
    box-shadow: rgba(60, 66, 87, 0.16) 0px 0px 0px 1px;

    border-radius: 5px;
}

.pyramid_brief > .pyramid_title {
    font-size: 2em;
}

.pyramid_brief > .data {
    display: flex;
    justify-items: center;
    align-items: baseline;
    gap: 20px;

    text-decoration: none;
    color: black;
}

.data > * {
    color: black;
}

.author {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.author-credits {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 10px;
}

.nav_wrapper {
    align-self: flex-end;
    margin: 20px;
    font-size: 1.45em;
    display: flex;
    align-items: center;
    gap: 20px;

}

.page_nav {
    display: flex;
    gap: 15px;
    align-items: center;
}

.page_nav-element {
    display: flex;
    width: 50px;
    height: 50px;

    border: 1px solid rgba(60, 66, 87, 0.16) ;
    justify-content: center;
    align-items: center;
    text-align: center;

    border-radius: 5px;
}

.page_nav-element:hover {
    border-color: rgba(60, 66, 87, 0.46);
}


.pagenum {
    font-family: 'Jura', sans-serif;
    outline: none;
    font-size: 1em;
    background-color: white;
    width: 100%;
    cursor: pointer;
    transition: all 150ms ease;
    padding-right: 1em;

    -moz-appearance: none;
}

.manual_page_input {
    position: relative;
    
}

.manual_page_input::after {
    content: '\e5cf';
    font: 1em 'Material Icons';
    color: #333;
    /*Adjust for position however you want*/
    
    top: calc(25px - 0.5em);
    right: 0.25em;
    /*left line */
    
    position: absolute;
    pointer-events: none;
  
}

.manual_page_input:hover::after {
    color: #005fc0;
}