main {
    display: flex;
    flex-direction: column;
    align-items: center;

}


/* Content */

.content-wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding: 10px 0;
}

.title {
    margin: 20px 0;
    font-size: 1.5em;
}

/* Data table  */

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 90%;
    table-layout: fixed;
}

table caption {
    font-size: 1.5em;
    margin: 0.5em 0 0.75em;
}

table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 0.35em;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 0.625em;
    text-align: center;
}

table th {
    font-size: 0.85em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: 0.625em;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: 0.8em;
        text-align: right;
    }

    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }
}

/* related links */

.relatedlinks {
    display: flex;
    width: 90%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.relatedlinks > a {
    text-decoration: none;
    color: #0074d9;
    position: relative;
}

.relatedlinks > a::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 1px;
    background-color: #0074d9;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
    .relatedlinks > a:hover::before {
        left: 0;
        right: auto;
        width: 100%;
    }
}

/* Modal window */

.modalwindow {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
}

.exportcode-wrapper {
    display: flex;
    flex-direction: column;
    padding: 15px;

    position: absolute;
    width: 40vw;
    height: 40vh;

    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);

    background-color: white;
    border-radius: 10px;
}

.exportcode {
    height: 24vh;
    width: calc(100%-10px);

    resize: none;
}

.modal-displayed {
    display: block;
}

.exportcode-header,
.exportcopybtn-wrapper {
    display: flex;
    height: 8vh;
    width: calc(100%-10px);
    align-items: center;
}

.exportcode-header {
    justify-content: space-between;
}

.exportcopybtn-wrapper {
    justify-content: center;
}

/* copy button */

.exportcopybtn-wrapper button,
.exportbtn {
    background: white;
    border: 2px solid black;
    font-family: 'Jura', sans-serif;
    cursor: pointer;
    padding: 6px 18px;
    position: relative;
    width: 20%;
}
.exportcopybtn-wrapper button:before,
.exportcopybtn-wrapper button:after {
    content: "";
    position: absolute;
    transition: all 0.125s ease-in-out;
}
.exportcopybtn-wrapper button.copybtn:after {
    border: 2px dashed black;
    bottom: -0.125em;
    left: -0.125em;
    right: -0.125em;
    top: -0.125em;
    z-index: -1;
}
.exportcopybtn-wrapper button.copybtn:hover:after,
.exportcopybtn-wrapper button.copybtn:focus:after {
    bottom: -0.375em;
    left: 0.125em;
    right: -0.375em;
    top: 0.125em;
}

/* close button */

.closebtn {
    font-size: 1.5em;
    /* user-select: none; */
    cursor: pointer;
}

.closebtn:hover {
    color: red;
}

/* export buttons */

.exportbtn-wrapper {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.exportbtn {
    padding: 0;
    width: 30%;
    height: 50px;    
    font-size: 1.2em;
}

.exportbtn:hover {
    border-width: 3px;
}

.pyramid_navigation {
    display: flex;
    width: 100%;
}

.nav {
    width: 33%;
}

.pnum {
    width: 33%;
    text-align: center;

    font-size: 1.5em;
}

.latex {
    font-size: 1.5em;
}

@media screen and (max-width: 600px) {
    .btn-radio {
        display: block;
        float: none;
    }
    .btn-radio:not(:first-child) {
        margin-left: 0;
        margin-top: 15px;
    }

    .formelement {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        font-size: 25px;
        align-items: center;
    }

    .selectwrapper {
        width: 300px;
    }

    select {
        font-size: 25px;
    }

    .formelement > .btn {
        width: 300px;
    }
}


