main {
    display: flex;
    flex-grow: 1;

    flex-direction: column;
    align-items: center;
}

.UploadPyr {
    margin-left: auto;
}

.results {
    display: flex;
    margin-top: 40px;
    min-width: 50%;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
}

.result_brief {
    padding: 20px;
    background-color: rgb(250, 250, 250);
    box-shadow: rgba(60, 66, 87, 0.16) 0px 0px 0px 1px;

    border-radius: 5px;
}

.user_brief {
    display: flex;
    gap: 2.5%;
}

.result_brief > .result_title {
    font-size: 2em;
    display: flex;
    justify-content: space-between;
}

.broken_info {
    color: #002A55;
    /* cursor: default; */
    user-select: none;
    font-size: 1em;
}

.result_brief > .data {
    display: flex;
    justify-items: center;
    align-items: baseline;
    gap: 20px;

    text-decoration: none;
    color: black;
}

.data > * {
    color: black;
}

.author {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.author-credits {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 10px;
}


.manual_page_input {
    position: relative;
    
}

.manual_page_input::after {
    content: '\e5cf';
    font: 1em 'Material Icons';
    color: #333;
    /*Adjust for position however you want*/
    
    top: calc(25px - 0.5em);
    right: 0.25em;
    /*left line */
    
    position: absolute;
    pointer-events: none;
  
}

.manual_page_input:hover::after {
    color: #005fc0;
}

.MJX-TEX, .katex {
    font-size: 1.2em;
    font-family: MJXZERO, MJXTEX;
}


.katex-html > .base {
    margin: 1em 0;
    padding: 0;
    font-size: 104.4%;
}