main {
    justify-content: space-between;
}

.update_profile-content {
    width: 75%;
}

.update-form {
    flex-direction: column;
    align-items: unset;
}

.groups {
    justify-content: left;
    width: auto;
}

.groups > .title {
    align-items: unset;
}

.sumbitbtn {
    font-weight: 100;
    width: 130px;
}

.cancelbtn {
    font-weight: 100;
    padding: 0 16px;
    box-sizing: border-box;
    width: 130px;

    border: 1px solid rgb(0, 118, 239);
    background: transparent;
    color: rgb(0, 118, 239);  
}

.cancelbtn:hover {
    background: rgba(0, 118, 239, 0.1);

}

.form-submit {
    width: 40%;
    flex-direction: row;
    height: 40px;
}

.profile-image {
    margin-top: 5px;
}

.picture-label {
    background-color: rgba(0, 0, 0, 0.15);
    text-align: center;

    transform: translateY(-100%);
    width: 128px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    cursor: pointer;
}

.picture-label:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.filename {
    transform: translateY(-100%);
}

.picture-feedback {
    transform: translateY(-100%);   
}