/* main {
    justify-content: space-between;
} */

/* .update_profile-content {
    width: 75%;
} */

/* .update-form {
    flex-direction: column;
    align-items: unset;
} */

/* .groups {
    justify-content: left;
    width: auto;
}  */

/* .groups > .title {
    align-items: unset;
} */

/* .form-group {
    height: 33%;
} */

/* .sumbitbtn {
    font-weight: 100;
    width: 130px;
}

.form-submit {
    width: 40%;
    flex-direction: row;
    height: 40px;
} */

.groups > .title {
    -webkit-box-align: unset;
    -ms-flex-align: unset;
    align-items: unset;
}

.groupelement-file {
    display: none;
}

.profile-image {
    margin-top: 5px;
}

.picture-label {
    background-color: rgba(35, 144, 255, 0.5);
    text-align: center;

    transform: translateY(-100%);
    width: 128px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    color: white;

    cursor: pointer;
}

.picture-label:hover {
    background-color: rgba(35, 144, 255, 1);
}

.filename {
    transform: translateY(-100%);
}

.picture-feedback {
    transform: translateY(-100%);   
}

.upload_pyramidbtn {
    width: 200px;
}